/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h1 {
  margin-top: 0 !important;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ecf0f1;
  padding: 0.5em;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.meta {
  padding: 1em;
  font-size: 0.75em;
}

.meta-title {
  font-weight: bold;
}

.meta-date {
  opacity: 0.4;
}

.slide {
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  padding: 1.5em;
  display: none;
  padding-bottom: 3.5em;
}

.hidden {
  display: none;
}

.opacity-75 {
  opacity: 0.75;
}

.quiz-nav-btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.4em 0.75em 0.4em 0.75em;
  border-radius: 5px;
  margin-right: 1em;
}

.quiz-question {
  border-left: 5px solid #2c3e50;
  padding-left: 0.5em;
}

.quiz-nav-btn-question {
  border: 1px solid #2c3e50;
  color: #2c3e50;
}

.quiz-nav-btn-question.active {
  border: 1px solid #2c3e50;
  background-color: #2c3e50;
  color: white;
}

.quiz-explanation {
  border-left: 5px solid #2980b9;
  padding-left: 0.5em;
}

.quiz-nav-btn-explanation {
  border: 1px solid #2980b9;
  color: #2980b9;
}

.quiz-nav-btn-explanation.active {
  border: 1px solid #2980b9;
  background-color: #2980b9;
  color: white;
}

.quiz-answer-explanation {
  font-size: 1.5em;
  margin: 1em;
}

.quiz-reference {
  border-left: 5px solid #8e44ad;
  padding-left: 0.5em;
}

.quiz-nav-btn-reference {
  border: 1px solid #8e44ad;
  color: #8e44ad;
}

.quiz-nav-btn-reference.active {
  border: 1px solid #8e44ad;
  background-color: #8e44ad;
  color: white;
}

.quiz-nav {
  display: inline-block;
  margin-top: 0.25em;
  margin-bottom: 1em;
}

.quiz-nav-btn:active {
  opacity: 0.5;
}

.quiz-question-text {
  font-size: 1.5em;
}

.quiz-response {
  cursor: pointer;
  padding: 0.75em;
  border: 1px solid #ecf0f1;
  border-radius: 5px;
  margin: 0.75em 0 0.75em 0;
}

.quiz-response:hover {
  border-color: #2c3e50;
}

.quiz-response:active {
  opacity: 0.5;
}

.quiz-question-text {
  background-color: #ecf0f1;
  margin: 0em 0 0.25em 0;
  padding: 0.25em 0.5em 0.25em 0.5em;
  border-radius: 5px;
}

.quiz-notice {
  text-align: center;
  padding: 0.25em 0.5em 0.25em 0.5em;
  border-radius: 5px;
  color: #2c3e50;
  background-color: #ecf0f1;
}

.markdown-body {
  box-sizing: border-box;
  /*min-width: 200px;*/
  /*max-width: 980px;*/
  /*margin: 0 auto;*/
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.response-selected {
  opacity: 1;
  border: 1px solid #2c3e50;
  border-radius: 5px;
  color: white;
  background-color: #2c3e50;
}

.page-nav {
  position: absolute;
  bottom: 0.5em;
  right: 1em;
}

.page-nav-btn {
  display: inline-block;
  cursor: pointer;
  font-size: 1em;
  padding: 0.25em;
  margin: 0 0.25em 0 0.25em;
}

.page-nav-position-selection {
  width: auto;
  border-radius: 5px;
  background-color: #ecf0f1;
  padding: 2px;
  cursor: pointer;
  text-align: center;
}

.page-nav-first:hover,
.page-nav-prev:hover,
.page-nav-next:hover,
.page-nav-last:hover,
.page-nav-source:hover,
.page-nav-github:hover,
.page-nav-home:hover,
.page-nav-position-selection:hover {
  opacity: 0.25;
}

.slide {
  position: relative;
  background-color: white;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

textarea:focus, input:focus{
    outline: none;
}

input {
  border-width:0px;
  border:none;
}

#content img {
  text-align: center;
  max-height: 500px;
  display: block;
  margin: auto;
  cursor: pointer;
  border: 1px solid #BDC3C7;
}

.intro-container {
  text-align: center;
}

.intro-title {
  font-size: 4em;
}

.intro-author {
  font-size: 3em;
  font-weight: 100;
}

.intro-seperator {
  display: inline-block;
  width: 30%;
  border-bottom: 1px solid black;
  opacity: 0.2;
  margin-top: 20px;
  margin-bottom: 20px;
}

.intro-description {
  font-size: 1.5em;
}

.text-center {
  text-align: center;
}

#logo {
  margin-top: 50px;
  margin-bottom: 20px;
}

.url-instruction {
  font-size: 1.5em;
}

#lesson-loader-field {
  font-size: 1.2em;
  text-align: left;
  border: none;
  border-bottom: 4px solid;
  border-radius: 10px;
  border-color: #15957A;
  background-color: rgba(21, 149, 122, 0.08);
  width: 60%;
  height: 80px;
  padding: 40px;
  line-height: 80px;
  transition: 300ms ease-in-out all;
}

#lesson-loader-field::placeholder {
  color: #15957A;
}

.dropper-hover {
  background-color: #15957A !important;
}

.dropper-hover::placeholder {
  color: white !important;
}

#lesson-loader-actions {
  width: 60%;
  margin-top: 10px;
  padding: 10px;
  display: inline-block;
  font-size: 1.5em;
}

.lesson-loader-action {
  border-radius: 10px;
  min-width: 30px;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  color: #15957A;
  border-bottom: 3px solid;
  transition: 100ms ease-in-out all;
  margin: 0px 5px 0px 5px;
  background-color: rgba(21, 149, 122, 0.08);
}

.lesson-loader-action:hover {
  background-color: white;
  color: #15957A;
}

.lesson-loader-action:active, .launch-btn:active {
  opacity: 0.3;
}

.footer {
  font-size: 0.8em;
}

.help-text {
  font-size: 1.25em;
}

.url-confirmation-btn {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.25em;
  display: inline-block;
  margin: 20px 5px 0px 0px;
  cursor: pointer;
  transition: 200ms ease-in-out all;
}

.url-confirmation-btn:hover {
  border-color: #15957A;
  color: #15957A;
}

.url-confirmation-btn:active {
  opacity: 0.5;
}

#hidden-url {
  position: absolute;
  left: -1000;
  opacity: 0;
}

#preview {
  display: inline-block;
  width: 60%;
  padding: 20px 40px 30px 40px;
  border-radius: 10px;
  margin-top: 10px;
}

.preview-date {
  font-size: 0.7em;
}

.launch-btn, .copy-link-btn {
  border-radius: 10px;
  border: 2px solid;
  min-width: 30px;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  transition: 100ms ease-in-out all;
  margin: 5px 5px 0px 5px;
  color: inherit;
  border-color: inherit;
}

#editor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000px;
  background-color: white;
  font-family: system-ui !important;
  padding-top: 0.5em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}